h1 {
    border: 2px red solid;
    background-color: #6A6;
    padding: 10px;
}
ul {
    margin: 15px;
    background-color: #DE1E7E;
}
p {
    box-sizing: 500px 300px;
    border: 2px black dotted;
    background-color: #FB1;
}
a {
    border-bottom: dashed blue;
    background-color: #a1a1a1;

}